@charset "utf-8";
.top{
    position: fixed;
    width: 100%;
    height: 58px;
    min-width: 1200px;
    /* overflow: hidden; */
    border-bottom: 1px solid #e7e7e7;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
}
.left-margin{
	width: 234px;
	height: 58px;
}
.logo img,.logo{
	display: block;
	width: 87px;
	height: 32px;
	overflow: hidden;
}
.logo{
	margin:14px 0 0 40px;
	color: #fff;
}
/*nav*/
.nav{
	padding-top: 14px;
}
.nav>li{
	float: left;
	margin-left: 62px;
	height: 43px;
	line-height: 30px;
	cursor: pointer;
}
.add_icon{
	display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
	color: #b7bbc4;
	margin-top: -3px;
}
.icon-caret{
    display: inline-block;
    vertical-align: middle;
    color: #b7bbc4;
    font-size: 20px;
    margin-right: 10px;
    height: 30px;
    color: #36a0e1;
    /*float: right;*/
}
.caret{
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    /*margin-left: 2px;*/
    /*vertical-align: middle;*/
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-width: 5px;
    top: -2px;
    left: 6px;
}
.nav>li.f_nav{
    position: relative;
    width: 200px;
    height: 43px;
    padding: 0 11px 0 10px;
    margin-left: 0;
    text-align: center;
}
.nav>li>a{
	font-size: 16px;
}
.nav>li>a:hover,.nav>li>a.current{
	color: #36a0e1;
}
.nav>li.f_nav>a.add_icon{
	margin-top: 0;
	color: #36a0e1;
}
.nav>li.f_nav>a.agent_current_user{
	display: inline-block;
	vertical-align: middle;
	max-width: 110px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
    color: #36a0e1;
}
.sub_nav{
	display: none;
	position: absolute;
    left: 0;
    top: 43px;
    width: 200px;
    height: auto;
    max-height: 200px;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #e7e7e7;
    text-align: left;
}
.sub_nav>li>a{
	display: block;
	position: relative;
	height: 34px;
	line-height: 34px;
	padding: 0 34px 0 10px;
	overflow: hidden;
}
.sub_nav>li>a:hover,.sub_nav>li.current>a,.top .drop_list li a:hover{
	color: #fff;
    background-color: #9399a6;
}
.sub_nav>li.l_operate.l_f{
	margin-top: 10px;
}
.sub_nav>li.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e5e5e5;
    margin: 6px 0;
}
.sub_nav>li.l_operate>a{
	/*padding: 0;
	text-align: center;*/
}
.flaticon.stroke.menu-list-2:before {
    content: "\e540";
}
.sub_nav>li>a:hover,.sub_nav>li:current a{
    color: #fff;
    background-color: #4b556b;
}
.flaticon.stroke.plus-2:before {
    content: "\e5b4";
}
.sub_nav>li>a .agent_is_user{
	display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*text-align: left;*/
}
.flaticon.stroke:before {
    font-family: 'Flaticons Stroke';
    speak: none;
    font-style: normal;
    font-weight: 300;
}
.sub_nav .icon-right,.l_operate .stroke{
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 8px;
    color: #b7bbc4;
}
.sub_nav>li>a:hover .stroke{
	color: #fff;
}
.l_operate .stroke{
	top: 0;
}
.sub_nav>li>a:hover .icon-right,.sub_nav>li.current>a .icon-right{
    color: #fff;
}
.flaticon.stroke.settings:before {
    content: "\e514";
}
.right-margin{
	width: 362px;
	height: 57px;
	padding-top: 14px;
	background: #FFF;
	/*overflow: hidden;*/
}
.top .right-margin>li{
    float: left;
    line-height: 30px;
    margin-left: 40px;
}
.top .right-margin>li:nth-child(1){
    margin-left: 0;
}
.top .right-margin>li.person_news{
    position: relative;
    width: 176px;
    height: 44px;
    margin-left: 20px;
    /* overflow: hidden; */
    padding-right: 18px;
    padding-left: 20px;
}
.top .right-margin>li.person_news>a{
	display: block;
}
.top .user_icon{
	width: 30px;
	height: 30px;
	overflow: hidden;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
}
.top .user_name{
	width: 100px;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 2px;
}
.top .drop_list{
	display: none;
	position: absolute;
    left: 8px;
    top: 43px;
    z-index: 1000;
    width: 130px;
    /*padding: 15px 0 13px;*/
    background: #fff;
    border: 1px solid #e7e7e7;
}
.top .drop_list li{
	width: 100%;
}
.top .drop_list li a{
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 22px;
	/*color: #BCBCBC;*/
}
/*aside_right_panel*/
.right-panel {
	/*position: absolute;*/
	position: fixed;
    width: 362px;
    right: 0;
    top: 0;
    background: #f8f8f8;
    border-left: 1px solid #e7e7e7;
    min-height: 574px;
    z-index: 4;
    overflow: hidden;
    padding-top: 58px;
    height: 100%;
    z-index: 1;
}
@media screen and (max-width: 1020px){
	.right-panel{
	    position: absolute;
	}
	.top{
		position: absolute;
	}
}

/*没有agent时*/
.right-panel.right-panel-locked .right-panel-locked-content {
    position: relative;
    top: 50%;
    display: none;
    color: #9399a9;
}
.right-panel.right-panel-locked .right-panel-locked-content .lock-icon {
    display: block;
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
}
.glyphicon {
    font-family: 'Glyphicons Halflings';
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    color: #b7bbc4;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    cursor: pointer;
}
.glyphicon-lock:before {
    content: "\e033";
}
.right-panel.right-panel-locked .right-panel-locked-content .locked-text {
    font-size: 24px;
    text-align: center;
    word-break: normal;
    display: block;
}
/*有agent时*/
.right-panel-content {
    position: relative;
    display: none;
}
.right-panel-content, .agent_content {
    height: 100%;
}
.right-panel .navbar-header {
    border-bottom: 1px solid #e7e7e7;
}
.right-panel .navbar-header {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 20px;
    height: 80px;
    color: #465C66;
    line-height: 80px;
    text-align: center;
}
.right-panel .navbar-header .agent_name_box {
    float: left;
    position: relative;
    display: inline-block;
    max-width: 70%;
    min-width: 144px;
    height: 80px;
    /* overflow: hidden; */
    padding-right: 20px;
}
.right-panel .navbar-header .agent_name_box .agent_copy_url{
	position: absolute;
	left: 9999999px;
	top: 99999px;
}
.right-panel .navbar-header .agent_name_box .copy{
	width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 22px;
    line-height: 20px;
    color: #b7bbc4;
    cursor: pointer;
}
.right-panel .navbar-header .agent_name_r {
    display: block;
    max-width: 100%;
    padding-left: 64px;
    font-size: 18px;
    /* text-indent: 14px; */
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 66px;
    background: url(../img/yigeAIHeader.png) no-repeat 0px 14px;
    color: #36a0e1;
}

.right-panel .clear_btn {
    float: right;
    line-height: 30px;
    padding: 0 10px;
    border: 1px solid #9cccf9;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 24px 0 0 0;
}
.right-panel .agent_content {
    padding-top: 80px;
}
.ct_combox {
    height: 100%;
    padding: 0 0 128px;
}
.right-panel .ct_content {
    height: 100%;
    padding: 20px 12px;
    overflow: auto;
}
.right-panel .ct_content::-webkit-scrollbar,.list_box::-webkit-scrollbar,.sub_nav::-webkit-scrollbar{
	width: 12px;
    -webkit-appearance: none;
}
.right-panel .ct_content::-webkit-scrollbar-thumb,.list_box::-webkit-scrollbar-thumb,.sub_nav::-webkit-scrollbar-thumb{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border: 2px solid #f8f8f8;
    background-color: #c9c9c9;
    cursor: default;
}
.right-panel .ct_content::-webkit-scrollbar-track,.list_box::-webkit-scrollbar-track,.sub_nav::-webkit-scrollbar-track{
    background-color: none;
}
.right-panel .dialog {
    margin-bottom: 30px;
}
.dia_img {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    -webkit-border-radius: 22.5px;
    -moz-border-radius: 22.5px;
    overflow: hidden;
}
.right-panel .dialog p span {
    display: inline-block;
    max-width: 224px;
    padding: 14px 14px 14px 12px;
    background: #efefef;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 0 10px;
    overflow-x: hidden;
    word-break: break-all;
}
.right-panel .dialog.dialog-right p span {
    background: #36a0e1;
    color: #fff;
    float: right;
    padding: 14px 12px 14px 14px;
}
.s_json {
    margin: 6px 57px 0 0;
    display: block;
    width: 70px;
    height: 24px;
    text-align: right;
    line-height: 24px;
    float: right;
    color: #36A0E1;
    border: 1px solid #aeaeae;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    text-align: center;
    font-size: 12px;
}
.test-client-query-content {
    width: 341px;
    height: 118px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    border: 1px solid #9cccf9;
    background: #fff;
    overflow: hidden;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.test-client-query-input {
    width: 100%;
    padding: 0px 20px;
    margin: 8px 0;
    height: 60px;
    line-height: 24px;
    resize: none;
    overflow-y: auto;
    outline: none;
}
.send_btn {
    float: right;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #efefef;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin-right: 10px;
}
/*查看json*/
.query_json_content {
    /*display: none;*/ 
    width: 100%;
    height: 100%;
    position: absolute;
    right: -100%;
    top: 0;
    background: #f8f8f8;
    z-index: 1;
}
.navbar-header span.user_query {
    float: left;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: left;
}
.icon-reply,.icon-spinner{
    display: inline;
    font-style: normal;
    font-family: FontAwesome;
}
.icon-reply:before {
    float: right;
    cursor: pointer;
    content: "\f112";
    font-size: 20px;
    padding: 30px 30px 0 0;
}
.json_box {
    width: 100%;
    height: 100%;
    padding: 80px 0 0;
}
.test_query_json {
    width: 100%;
    height: 100%;
    white-space: pre;
    overflow: auto;
    padding: 0 20px;
    white-space: pre;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 17px;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
	padding: 58px 362px 0 0;
}
.content-box {
    position: relative;
    min-height: 100%;
    /*display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;*/
}
.top-panel .inner-header {
	position: relative;
    height: 80px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 17px 30px 16px;
    background: #fff;
    /*border-bottom: 1px solid #e7e7e7;*/
}
.top-panel .inner-header .header-form{
	padding-right: 130px;
}
.top-panel .inner-header .view-header {
    width: auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.top-panel .select-button {
    float: right;
}
.md-input-container {
	position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-right: 30px;
}
.top-panel .inner-header .md-input {
	display: block;
	width: 100%;
    font-weight: 400;
    font-size: 24px;
    border-bottom: 2px solid #f76949;
    border-color: transparent;
    padding-bottom: 8px;
    line-height: 1.42857143;
    padding: 10px 0 8px;
    border-width: 0 0 2px;
    height: 46px;
}
.md-input-container [ng-messages] {
    display: none;
    position: relative;
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4;
    clear: left;
    min-height: 0;
    height: 0;
    overflow: visible;
}
.md-input-container [ng-message-exp]:not(.md-char-counter) {
    position: absolute;
    background: #f76949;
    padding: 10px 16px;
    top: -2px;
    z-index: 10;
    overflow: visible;
    color: #fff;
    font-size: 13px;
    transition: all .3s cubic-bezier(.55,0,.55,.2);
    opacity: 1;
    margin-top: 0;
}
.n_btn {
    margin: 2px 8px;
    background-color: #36a0e1;
    border: 1px solid #0488da;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    font-weight: 500;
    overflow: hidden;
    font-size: 14px;
    color: #fff;
    padding: 0 16px;
}
.glyphicon-option-vertical:before {
    content: "\e235";
}

.s_tip{
	width: 404px;
	height: 46px;
	position: fixed;
	left: 50%;
	top: -46px;
	margin-left: -202px;
	color: #fff;
	line-height: 46px;
	text-align: center;
	transition: top .2s ease-in-out;
	-webkit-transition: top .2s ease-in-out;
	-moz-transition: top .2s ease-in-out;
	-ms-transition: top .2s ease-in-out;
	-o-transition: top .2s ease-in-out;
	padding: 0 40px;
	z-index: 10000;
}
.s_tip.ok{
	background: #a9d9cc;
	top: 0;
}
.s_tip.fail{
	background: #ed9277;
	top: 0;
}
.s_tip .stroke{
	width: 20px;
	color: #fff;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 0%;
}
/*字体*/
.flaticon.stroke.J20:before, .flaticon.stroke.about-2:before, .flaticon.stroke.info-2:before {
    content: "\e4af";
}
.flaticon.stroke.L15:before, .flaticon.stroke.cube-1:before, .flaticon.stroke.cube:before {
    content: "\e4d2";
}
.flaticon.stroke.copy:before {
    content: "\e410";
}
.flaticon.stroke.J18:before, .flaticon.stroke.caution-1:before, .flaticon.stroke.caution:before, .flaticon.stroke.exclamation-point-1:before, .flaticon.stroke.exclamation-point:before, .flaticon.stroke.warning-1:before, .flaticon.stroke.warning:before {
    content: "\e4ad";
}
.flaticon.stroke.H13:before, .flaticon.stroke.delete-1:before, .flaticon.stroke.delete:before, .flaticon.stroke.trash-1:before, .flaticon.stroke.trash:before {
    content: "\e480";
}
.glyphicon-search:before {
    content: "\e003";
}
.flaticon.stroke.W1:before, .flaticon.stroke.plus-1:before, .flaticon.stroke.plus:before {
    content: "\e5a0";
}
.flaticon.stroke.K7:before, .flaticon.stroke.profile-1:before, .flaticon.stroke.profile:before {
    content: "\e4b6";
}
.fa-question-circle:before {
    content: "\f059";
}
.flaticon.stroke.W9:before, .flaticon.stroke.up-2:before {
    content: "\e5a8";
}
.flaticon.stroke.W10:before, .flaticon.stroke.down-2:before {
    content: "\e5a9";
}
.glyphicon-trash:before {
    content: "\e020";
}
.icon-star:before {
    content: "\f005";
}
.icon-spinner:before {
    content: "\f110";
    text-decoration: inherit;
    display: inline-block;
    speak: none;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -ms-animation: spin 2s linear infinite;
    -o-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
input, select, textarea {
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    font-size: 14px;
    font-family: Roboto,sans-serif;
    vertical-align: middle;
}
textarea{
	resize: none;
}
#wrapper {
    position: relative;
    min-height: 100%;
    min-width: 1200px;
}
.inner-header h1 .ico,.inner-header h1 font{
	display: inline-block;
	vertical-align: middle;
}
.md-scroll-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
}
/*取消按钮弹出框样式*/
.md-open-menu-container {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1002;
    border-radius: 2px;
}
.md-whiteframe-4dp, .md-whiteframe-z2 {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
}
.md-r-container{
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: all .4s cubic-bezier(.25,.8,.25,1);
    -moz-transition: all .4s cubic-bezier(.25,.8,.25,1);
    -ms-transition: all .4s cubic-bezier(.25,.8,.25,1);
    -o-transition: all .4s cubic-bezier(.25,.8,.25,1);
    transition: all .4s cubic-bezier(.25,.8,.25,1);
    padding: 8px 0;
    background: #fff;
    transform: scale(0);
}
.md-r-container.md-active {
    transform: scale(1);
}
.md-open-menu-container.md-active a{
    color: #2b313f;
    padding: 0 16px;
    display: block;
    min-width: 96px;
    max-width: 160px;
    height: 100%;
    line-height: 48px;
    background: #fff;
    text-align: center;
}
.md-open-menu-container.md-active a:hover{
    background: rgba(158,158,158,0.2);
}

/*提示框start*/
.md-button {
    height: 40px;
    line-height: 38px;
    margin: 4px 8px;
    border-radius: 0;
}
.md-dialog-container {
    position: fixed;
    top: 0!important;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    filter: alpha(opacity=0);
}
.md-transition-in {
    min-width: 240px;
    max-width: 80%;
    position: relative;
    overflow: auto;
    box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 90%;
    background: #fff;
    transition: all .4s cubic-bezier(.25,.8,.25,1);
    -webkit-transform: translate(0, 100%) scale(.2);
    transform: translate(0, 100%) scale(.2);
    -webkit-transform: scale(.2);
    transform: scale(.2);
    opacity: 0;
    filter: (opacity=0);
}
.modal-header {
    padding: 20px 32px;
    background: #f8f8f8;
}
.md-dialog-container .close {
    float: right;
    font-size: 21px;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    vertical-align: baseline;
    opacity: .4;
    filter: alpha(opacity=40);
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    -webkit-appearance: none;
    margin-top: -2px;
}
.md-transition-active {
    opacity: 1;
    filter: (opacity=100);
    -webkit-transform: scale(1);
    transform: scale(1);
}
@media (min-width: 768px){
	.md-transition-in {
	    width: 600px;
	}
}

.modal-title {
    line-height: 1.42857143;
}
.modal-body {
    position: relative;
}
.modal-body, .modal-footer.bordered {
    padding: 20px 32px;
}
.modal-footer.bordered {
    border-top: 1px solid #e5e5e5;
    text-align: right;
}
.md-dialog-container .md-button {
    box-sizing: border-box;
    color: currentColor;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 36px;
    background: 0 0;
    white-space: nowrap;
    min-width: 88px;
    text-align: center;
    font-weight: 500;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    overflow: hidden;
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    border: 1px solid #ccc;
    background-color: rgb(250,250,250);
}
.modal-body .form-control {
    width: 100%;
    height: 40px;
    padding: 9px 24px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    font-size: 14px;
    color: #555;
    height: 40px;
    margin: 20px 0 5px;
}
/*提示框end*/

/*字体图标*/
[class^="nicon-"], [class*=" nicon-"] {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    display: inline;
    width: auto;
    height: auto;
    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    margin-top: 0;
    color: #bcc0c8;
}
.nicon-stethoscope:before {
    content: "\f0f1";
}
.nicon-user:before {
    content: "\f007";
}
.nicon-comments-alt:before {
    content: "\f0e6";
}
.nicon-legal:before {
    content: "\f0e3";
}
.nicon-magnet:before{
    content: "\f076";
}
.nicon-book:before{
    content: "\f02d";
}
.nicon-lightbulb:before {
    content: "\f0eb";
}
.nicon-key:before {
    content: "\f084";
}
.nicon-cloud:before {
    content: "\f0c2";
}
.flaticon.stroke.W4:before, .flaticon.stroke.x-1:before, .flaticon.stroke.x:before {
    content: "\e5a3";
}
/*导入蒙版样式*/
.eA_mb{
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	z-index: 2000;
}
.eA_mb span{
	width: 150px;
	height: 60px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -75px;
	margin-top: -30px;
	z-index: 2001;
	color: #fff;
}
.eA_mb span label,.eA_mb .icon-spinner{
	float: left;
}
.eA_mb span label{
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    margin-left: 12px;
}
.eA_mb .icon-spinner:before{
	font-size: 60px;
	
}
@-moz-keyframes spin{
	0%{
		-moz-transform:rotate(0deg)
	}
	100%{
		-moz-transform:rotate(359deg)
	}
}
@-webkit-keyframes spin{
	0%{
		-webkit-transform:rotate(0deg)
	}
	100%{
		-webkit-transform:rotate(359deg)
	}
}
@-o-keyframes spin{
	0%{
		-o-transform:rotate(0deg)
	}
	100%{
		-o-transform:rotate(359deg)
	}
}
@-ms-keyframes spin{
	0%{
		-ms-transform:rotate(0deg)
	}
	100%{
		-ms-transform:rotate(359deg)
	}
}
@keyframes spin{
	0%{
		transform:rotate(0deg)
	}
	100%{
		transform:rotate(359deg)
	}
}
.bdsharebuttonbox{
	width: 80px;
    position: absolute;
    left: 67px;
    top: 50px;
}
.bdsharebuttonbox span{
    float: left;
    height: 16px;
    line-height: 16px;
    overflow: hidden;
}
.bdsharebuttonbox a.bds_weixin{
	display: block;
    float: left;
    width: 16px;
    height: 16px;
    background: none;
    background-position: 0 0;
    padding-left: 0;
    border-radius: 13px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 13px;
    background: url(../img/wxDefault.jpg) no-repeat;
    background-size: 16px 16px;
    overflow: hidden;
    margin: 0;
}
.bd_weixin_popup{
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.qrcode{
	display: none;
	position: absolute;
	left: 0;
	top: 79px;
	background: #fff;
    padding: 10px;
    width: 260px;
    height: 300px;
    background: #fff;
    border: solid 1px #d8d8d8;
    z-index: 100;
    font-size: 12px;
    overflow: hidden;
}
.qrcode p{
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	font-size: 12px;
    font-weight: bold;
    color: #000;
    text-align: left;
}
.bd_weixin_popup_close {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 6px;
    top: 6px;
    color: #999;
    text-decoration: none;
    font-size: 16px;
}
.qrcode img{
	display: block;
	margin: 15px auto;
}
.qrcode .bd_weixin_popup_foot{
    font-size: 12px;
    text-align: left;
    line-height: 22px;
    color: #666;
	
}
.nicon-exchange:before {
    content: "\f0ec";
}